<div class="jumbotron py-4 my-4">
  <h1 class="display-4">Hello, {{firstName}}!</h1>
  <p class="lead">Start organizing an event by clicking the button below.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create Event</a>
</div>

<h2>Manage your events:</h2>
<br>
<h2>Your schedule:</h2>

{{#each events}}
<div class="container mb-4" style="border: 2px solid black;">
	<h4>{{this.title}}</h4>
	<p>Created by: {{this.creator}}</p>
	<p>Description: {{this.description}}</p>

	<h5>Your Reservation(s):</h5>
	{{#each this.reservations}}
		<p>{{this.date}}{{this.location}}</p> <!-- This is an example -->
    <table style="width:100px">
      <tr>
        <td>{{this.date}}</td>
        <td>{{this.location}}</td>
      </tr>
    </table>
		<!-- Create rest of template here -->
	{{/each}}
</div>
{{/each}}

<a class="btn btn-primary btn-lg" href="#" role="button">View past events</a>
<br>
<a class="btn btn-primary btn-lg mt-2" href="#" role="button">View past reservations</a>
