<div class="jumbotron py-4 my-4">
  <h1 class="display-4">Hello, {{firstName}}!</h1>
  <p class="lead">Start organizing an event by clicking the button below.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create Event</a>
</div>

<h2>Manage your events:</h2>
<br>
<h2>Your schedule:</h2>

{{#each events}}
<div class="container mb-4" style="border: 2px solid black;">
	<h4>{{this.title}}</h4>
	<p>Created by: {{this.creator}}</p>
	<p>Description: {{this.description}}</p>

	<h5>Your Reservation(s):</h5>
	<h6>{{#each this.reservations}}</h6>
    <h6 class=indent-1>{{this.date}}<span style="margin-left: .2em;">{{this.time}}</span><span style="margin-left: 1em;">{{this.location}}</span></h6>
    <br>
    <h6 class=indent-1>Who else signed up:</h6>
    {{#each this.attendees}}
      <h6 class="indent-1">{{this.firstName}}<span style="margin-left: .2em;">{{this.lastName}}</span>{{this.time}}<span style="margin-left: 1em;">{{this.email}}</span></h6>
      <br>
    {{/each}}
	{{/each}}
</div>
{{/each}}

<a class="btn btn-primary btn-lg" href="#" role="button">View past events</a>
<br>
<a class="btn btn-primary btn-lg mt-2" href="#" role="button">View past reservations</a>
