<h1 class="mt-5">Make a reservation</h1>
<br>
<div class="event-display mb-4 ml-2 w-auto">
   <h4>Event name: {{eventDetails.event_name}}</h4>
   <h4>Created by: {{eventCreator}}</h4>
   <h4>Description: {{eventDetails.description}}</h4>
   <br>
   <br>
   <h5>Click on a time slot to select it:</h5>
   {{#if eventDetails.max_resv_per_attendee}}
   <h5>You can register for up to {{eventDetails.max_resv_per_attendee}} slots</h5>
   {{else}}
   <h5>Choose as many slots as you like</h5>
   {{/if}}
</div>

<!--slot and event reservation limitations-->
<input type="number" name="max_resv_per_attendee"
id="max_resv_per_attendee" value="{{eventDetails.max_resv_per_attendee}}" hidden>
<input type="number" name="max_attendee_per_slot"
id="max_attendee_per_slot" value="{{eventDetails.max_attendee_per_slot}}" hidden>
<input type="number" name="numUserReservations"
id="numUserReservations" value="{{numUserReservations}}" hidden>

<!-- Hidden input specifying registrant information visibility -->
<input type="number" name="visibility"
id="visibility" value="{{eventDetails.visibility}}" hidden>

<!-- event and attendee detail inputs from db -->
{{#each existingSlots}}
<div class="existingSlots" id="slot{{this.slot_id}}">
  <input type="number" name="slot{{this.slot_id}}"
  id="slotExistsInDatabase{{this.slot_id}}" value="1" hidden>
  <input type="number" name="maxAttendees" id="maxAttendees{{this.slot_id}}" 
  value="{{this.max_attendees}}" hidden>
  <input type="text" name="slotStart{{this.slot_id}}"
  id="slotStart{{this.slot_id}}" value="{{this.start_time}}" hidden>
  <input type="text" name="slotEnd{{this.slot_id}}"
  id="slotEnd{{this.slot_id}}" value="{{this.end_time}}" hidden>
  <input type="text" name="slotLocation{{this.slot_id}}"
  id="slotLocation{{this.slot_id}}" value = "{{this.location}}" hidden>
  {{#each this.attendees}}
    <input type="text" name="name{{this.slotId}}"
    id="name{{this.slotId}}" value="{{this.name}}" hidden>
    <input type="text" name="email{{this.slotId}}"
    id="email{{this.slotId}}" value="{{this.email}}" hidden>
  {{/each}}
</div>
{{/each}}

<!-- attendee slot reservations from db -->
{{#each userSlots}}
<div class="userSlots" id="userSlots{{this.fk_slot_id}}">
  <input type="text" name="userSlot{{this.fk_slot_id}}"
  id="userSlot{{this.fk_slot_id}}" value="{{this.fk_slot_id}}" hidden>
</div>
{{/each}}

<!-- Calendar -->
<div id='calendar' class='m-1 p-1'></div>
<br>

<!--modal for showing slot attendees-->
<div class="modal fade" id="resvSlot" tabindex="-1" role="dialog"
aria-labelledby="resvSlotLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resvSlotLabel">Who's signed up: </h5>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
    </div>
  </div>
</div>

<!--modal for showing slot limitation exceeded-->
<div class="modal fade" id="resvSlotExceeded" tabindex="-1" role="dialog"
aria-labelledby="resvSlotExceeded" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resvSlotExceeded">Slot Reservations Warning</h5>
      </div>
      <div class="modal-body" id="slotModalBody">
        <p>This slot is full.</p>
      </div>
    </div>
  </div>
</div>

<!--modal for showing user has signed up for max number of slots-->
<div class="modal fade" id="resvEventExceeded" tabindex="-1" role="dialog"
aria-labelledby="resvEventExceeded" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resvEventExceeded">Event Reservations Warning</h5>
      </div>
      <div class="modal-body" id="eventModalBody">
        <p>Event sign up limitation reached.</p>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-5">Selected time slots:</h3>
<!--Table for organizing reservation data with delete buttons-->
<div class="table-responsive-md" id="resv">
  <table class="table table-sm table-striped table-light" id="eventReservations">
  <thead>
    <tr>
      <th scope="col" hidden></th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody id=body>
  </tbody>
</table>
</div>

<!--form for submitting reservations -->
<form action="/make-reservations"
method="post" id="addReservationsForm">
  <div class="form-row">
    <div class="col col-sm-10 col-md-9 col-lg-6 col-xl-6 form-group" id="slots">
      <input type="text" name="eventId" id="eventId" value="{{eventDetails.event_id}}" hidden>
      <input type="checkbox" id="attend" name="attend" value="no">
      <label for="attend">I can't make it (only check if you haven't selected any time slots)</label>
      <br>
      <button class="btn btn-primary my-2" id="addReservations" type="submit">Submit</button>
    </div>
  </div>
</form>
