<h1 class="mt-5">Make a reservation</h1>
<br>
<div class="event-display mb-4 ml-2 w-auto">
   <h4>Event name: {{eventDetails.event_name}}</h4>
   <h4>Created by: {{eventCreator}}</h4>
   <h4>Description: {{eventDetails.description}}</h4>
   <br>
   <br>
   <h5>Click on a time slot to select it:</h5>
   <h5>(you can pick as many as you like!!)</h5>
</div>

<!-- Calendar -->
{{#each existingSlots}}
<div class="existingSlot" id="slot{{this.slot_id}}" >
  <input type="number" name="slot{{this.slot_id}}"
  id="slotExistsInDatabase{{this.slot_id}}" value="1" >
  <input type="text" name="slotStart{{this.slot_id}}"
  id="slotStart{{this.slot_id}}" value="{{this.start_time}}" >
  <input type="text" name="slotEnd{{this.slot_id}}"
  id="slotEnd{{this.slot_id}}" value="{{this.end_time}}" >
</div>
{{/each}}
<div id='calendar' class='m-1 p-1'></div>
